<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>UPost</h1>
    <form class="myform" action="/addpost" method="post">
      <input type="text" name="newPost" id="newPost" />
      <button type="submit">Add New Post</button>
    </form>
    <ul class="allPostsDisplay"></ul>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
</body>
</html>